
#wrapper {
    padding: 90px 15px;
}

.header-top {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

html, body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
    color: white;
}

@media (min-width: 992px) {
    #wrapper {
        margin-left: 70px
    }

    .side-nav li {
        border-bottom: 1px solid #50575d;
    }

    .side-nav li a {
        padding: 20px;
        display: block;
        position: relative;
    }

}


.container {
    align-content: center;
}

.card-right {
    float: right;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.card-footer {
    color: white;
}
.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

#sailorTableArea1 , #sailorTableArea2 . #sailorTableArea3{
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}
#sailorTable1 , #sailorTable2 , #sailorTable3{
    white-space: normal;
}

